.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

.end-section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1rem 0;
}

.button--group {
  display: flex;

  > div:not(:first-child) {
    margin-left: 1rem;
  }
}

.flex {
  display: flex;

  &-direction-column {
    flex-direction: column;
  }

  &-direction-row {
    flex-direction: row;
  }

  &-align-items-center {
    align-items: center;
  }
}

.position {
  &-relative {
    position: relative;
  }

  &-absolute {
    position: absolute;
  }
}
